.likeContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.likeButton {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.likeButton:hover {
  background-color: #f7f7f7;
}

.likeButton i {
  margin-right: 10px;
}

.likeCount {
  font-size: 16px;
  color: #999;
  margin-left: 10px;
}